  <!-- Main Sidebar Container --> <!--Copia-->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="d-block">
            {{ current_user.username }} - Logout
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <!--Dashboard-->
          <li class="nav-item has-treeview {% if 'home-index' in segment %} menu-open {% endif %}">
            <a href="/home-index.html" class="nav-link {% if 'home-index.html' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <!--formas de pagamento-->
          <li class="nav-item has-treeview {% if 'CadastrarFormaPagamento' in segment %} menu-open {% endif %}">
            <a href="/CadastrarFormaPagamento" class="nav-link {% if '/CadastrarFormaPagamento' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Formas de Pagamento
              </p>
            </a>

          <!--lista das formas de pagamento -->
          <li class="nav-item has-treeview {% if 'listaFormaPagamento' in segment %} menu-open {% endif %}">
            <!--<a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
            <a href="/listaFormaPagamento" class="nav-link {% if '/listaFormaPagamento' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Lista Pagamento
              </p>
            </a>
          </li>
          
          <!--Cadastrar digidas-->
          <li class="nav-item has-treeview {% if 'cadastrarDivida' in segment %} menu-open {% endif %}">
            <!--<a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
            <a href="/cadastrarDivida" class="nav-link {% if '/cadastrarDivida' in segment %} active {% endif %}">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Cadastro Dividas
              </p>
            </a>
          </li>

          <!--Resumo das dividas-->
          <li class="nav-item has-treeview {% if '/listaDividas' in segment %} menu-open {% endif %}">
            <!--<a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
            <a href="/listaDividas" class="nav-link {% if '/listaDividas' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-file"></i>
              <p>
                Resumo das Dividas
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  