  <!-- Main Sidebar Container --> <!--Copia-->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Deficit-Me</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        <div class="info">
          <a href="/perfil" class="d-block"><div class="image">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" class="img-circle elevation-2" alt="User Image">
          </div> {{current_user.username}}</a>
        </div>
        <div style="padding: 12px 3px 2px 0px;">
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="d-block">
            - Logout
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <!--Dashboard-->
          <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
            <a href="/index" class="nav-link {% if 'index' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <!--lista das formas de pagamento -->
          <li class="nav-item has-treeview {% if 'listaFormaPagamento' in segment %} menu-open {% endif %}">
            <!--<a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
            <a href="/listaFormaPagamento" class="nav-link {% if '/listaFormaPagamento' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Lista Pagamento
              </p>
            </a>
          </li>
          
          <!--Cadastrar dividas-->
          <li class="nav-item has-treeview {% if 'cadastrarDivida' in segment %} menu-open {% endif %}">
            <!--<a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
            <a href="/cadastrarDivida" class="nav-link {% if '/cadastrarDivida' in segment %} active {% endif %}">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Cadastro Dividas
              </p>
            </a>
          </li>

          <!--Resumo das dividas-->
          <li class="nav-item has-treeview {% if '/listaDividas' in segment %} menu-open {% endif %}">
            <!--<a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
            <a href="/listaDividas" class="nav-link {% if '/listaDividas' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-file"></i>
              <p>
                Resumo das Dividas
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  