{% extends "layouts/base.html" %}

{% block title %} Lista das Forma de Pagamento {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Forma Pagamento</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Lista de Forma de Pagamento</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <!--tabela-->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body"style="display:flex; flex-wrap:wrap; justify-content: flex-end;">
        <div class="col-2" style="padding:0px 0px 15px 0px; min-width: 90px; max-width: 155px">
            <a href="/CadastrarFormaPagamento">
              <button type="submit" class="btn btn-primary btn-block btn-success">Adicionar</button>
            </a>
          </div>

          <table id="example1" class="table table-bordered table-striped">
            <!--Header da tabela-->
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Ações</th>
              </tr>
            </thead>
            <!--Corpo da tabela-->
            <tbody>
              {%for iten in list%}
              <tr>
                <td class="col-8">{{ iten.description }}</td>
                <td style="display: flex; flex-direction: row-reverse;">

                  <div class="col-4" style="min-width: 86px; max-width: 155px">
                    <button type="submit" class="btn btn-primary btn-block btn-danger" data-toggle="modal" data-target="#confirm">Excluir</button>
                    <div class="modal fade" id="confirm" role="dialog">
                      <div class="modal-dialog modal-md">
                        <div class="modal-content">
                          <div class="modal-body">
                                <p>Deseja realmente apagar?</p>
                          </div>
                          <div class="modal-footer">
                            <div class="col-4">
                              <a href="/deletarFormaPagamento/{{ iten.id }}">
                                <button type="submit" class="btn btn-primary btn-block btn-danger">Apagar</button>
                              </a>
                            </div>
                
                            <div class="col-4">
                              <button type="button" class="btn btn-primary btn-block btn" data-dismiss="modal">Cancelar</button>
                            </div>
                
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-4" style="min-width: 86px; max-width: 155px;">
                    <a href="/editarFormaPagamento/{{ iten.id }}">
                      <button type="submit" class="btn btn-primary btn-block btn-success">Editar</button>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </section>
</div>

{% endblock content %}