{% extends "layouts/base.html" %}

{% block title %} Forma de Pagamento {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

{% block content %}

<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Resumo</h1>
            </div>
            
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="/listaDividas">Lista das Dividas</a></li>
                <li class="breadcrumb-item active">Resumo da Divida</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <!-- Horizontal Form -->
        <div class="card card-info" >
            <div class="card-header">
              <h3 class="card-title">Detalhes</h3>
            </div>
            <!-- form start -->
            <form class="form-horizontal">
                <div class="card-body">

                    <div class="row" >
                        <div class="form-group" style="width: 300px;">
                            <label for="outputCreditorName" class="col-sm-10 col-form-label">Nome do Credor</label>
                            <div class="col-sm-10">
                                <div>{{debt.creditor}}</div>
                                <!--<input type="text" class="form-control" id="outputCreditorName" value="{{debt.creditor}}" placeholder="" readonly style="width: 400px;">-->
                            </div>
                        </div>

                        <div class="form-group" style="width: 300px;">
                            <label for="outputValue" class="col-sm-10 col-form-label">Valor da Divida</label>
                            <div class="col-sm-10">
                                <div>R${{debt.amount}}</div>
                                <!--<input type="text" class="form-control" id="outputValue" value="R${{debt.amount}}" placeholder="" readonly style="width: 150px;">-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="outputDescription" class="col-sm-10 col-form-label" >Descrição</label>
                            <div class="col-sm-10">
                                <div style="width: 600px;" >{{debt.description}} </div>
                                <!--<input type="text" class="form-control" id="outputDescription" value="{{debt.description}}" placeholder="" readonly style="width: 600px;">-->
                            </div>
                        </div>

                    </div>

                    <div class="row" style="padding-top: 15px;">

                        <div class="form-group" style="width: 300px;">
                            <label for="formPayment" class="col-sm-10 col-form-label">Forma de pagamento</label>
                            <div class="col-sm-10">
                                <div>{{payment.description}}</div>
                                <!--<input type="text" class="form-control" id="formPayment" value="{{payment.description}}" placeholder="" readonly style="width: 400px;">-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numberInstallments" class="col-12 col-form-label">Quantidade de Parcelas</label>
                            <div class="col-sm-10">
                                <div tyle="width: 200px;">R${{debt.installment_value}}</div>
                                <!--<input type="text" class="form-control" id="numberInstallments" value="R${{debt.installment_value}}" placeholder="" readonly style="width: 200px;">-->
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        
                        <!-- /.row -->
                            <div class="row w-100 p-3">
                                <div class="col-12">
                                <h3 class="col-sm-10">Historico</h3>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 350px;">#</th>
                                            <th style="width: 350px;">Valor Parcela</th>
                                            <th style="width: 350px;">Parcelas</th>
                                            <th style="width: 350px;">Data de Vencimento</th>
                                            <th style="width: 350px;">Status</th>
                                            <th style="width: 350px;">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for iten in installment %}
                                    <tr data-widget="expandable-table" aria-expanded="false">
                                        <td>{{iten.installment_number}}</td>
                                        <td>R${{moeda(iten.installment_value)}}</td>
                                        <td>{{iten.installment_number}} / {{debt.number_installments}} Parcelas</td>
                                        <td>{{iten.payment_date.strftime("%d/%m/%Y")}}</td>
                                        <td>{{iten.payed}}</td>
                                        <td>
                                            {% if iten.payed == "S" %}
                                                <form method="POST" action="/parcelaDivida/{{iten.id}}">
                                                    <div class="col-10">
                                                        <a href="/parcelaDivida/{{iten.id}}">
                                                            <div class="btn btn-primary btn-block btn-danger">Estornar</div>
                                                        </a>
                                                    </div>
                                                </form>
                                            {% endif %}
                                            {% if iten.payed == "N" %}
                                                <form method="POST" action="/parcelaDivida/{{iten.id}}">
                                                    <div class="col-10">
                                                        <a href="/parcelaDivida/{{iten.id}}">
                                                            <div class="btn btn-primary btn-block btn-success">Pagar</div>
                                                        </a>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                </div>

              <!-- /.card-body -->
              <div class="card-footer">
                <a href="/listaDividas">
                    <div class="btn btn-default float-right">Voltar</div>
                </a>
              </div>
              <!-- /.card-footer -->
            </form>
          </div>
          <!-- /.card -->

    </section>

</div>



{%endblock content%}