{% extends 'layouts/base.html' %}

{% block title %}
  Forma de Pagamento
{% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %}

{% endblock %}




{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Perfil</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active">Perfil</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="container rounded bg-white mt-5 mb-5">
        <form method="GET" action="">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" />
                            <span class="font-weight-bold">{{user}}</span>
                            <span class="text-black-50">edogaru@mail.com.my</span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-md-6 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Configuração de Perfil</h4>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Nome</label><input type="text" class="form-control" placeholder="Nome" value="" />
                            </div>

                            <div class="col-md-6">
                                <label class="labels">Sobrenome</label><input type="text" class="form-control" value="" placeholder="Sobrenome" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Numero de telefone</label><input type="text" class="form-control" placeholder="ex: 34 99999-9999" value="" />
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Endereço</label><input type="text" class="form-control" placeholder="Ex: Rua Leopondina, 000" value="" />
                            </div>
                            <div class="col-md-12">
                                <label class="labels">CEP</label><input type="text" class="form-control" placeholder="CEP" value="" />
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Email</label><input type="text" class="form-control" placeholder="email" value="" />
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">Cidade</label><input type="text" class="form-control" placeholder="Cidade" value="" />
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Estado</label><input type="text" class="form-control" value="" placeholder="Estado" />
                            </div>
                        </div>

                        <div class="mt-4 text-center">
                            <button class="btn btn-primary profile-button" type="button">Salvar Dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</get>
{% endblock %}
